# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars
**/crash.log
**/override.tf
**/override.tf.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
**/gcp-creds.json
tls.key
tls.crt

argocd-linux-amd64